<h1 align = "center"> Made by Arsen Sydoryk </h1>

<h2> Корисні посилання: </h2>
<ul>

	<li> <a href = "student.html"> Сторінка student </a></li>
	<li> <a href = "biography.html"> Сторінка з автобіографією </a></li>
	<li> <a href = "Hyperlinks/history.html"> Сторінка історією </a></li>
	<li> <a href = "Hyperlinks/rizne.html"> Різне </a></li>

</ul>

<h4> Have a nice day :) </h4>